<p>
  <input type="button" value="Create New COC" (click)="onCreate()" />
</p>
<table class="table" style="white-space:nowrap;">
  <thead>
    <tr>
    <tr>
      <th>
        Source
      </th>
      <th>
        PlanCode
      </th>
      <th>
        CIN
      </th>
      <th>
        CocId
      </th>
      <th>
        RecordType
      </th>
      <th>
        ParentCocId
      </th>
      <th>
        ReceiveDate
      </th>
      <th>
        CocType
      </th>
      <th>
        BenefitType
      </th>
      <th>
        CocDispositionInd
      </th>
      <th>
        CocExpirationDate
      </th>
      <th>
        DenialInd
      </th>
      <th>
        SubmitterNPI
      </th>
      <th>
        ProviderNPI
      </th>
      <th>
        ProviderTaxonomy
      </th>
      <th>
        MerExemptionId
      </th>
      <th>
        ExemptionCode
      </th>
      <th>
        ExemptionDate
      </th>
      <th>
        MerDispositionInd
      </th>
      <th>
        MerDispositionDate
      </th>
      <th>
        MerCocNotMetInd
      </th>
      <th>
        DataSource
      </th>
      <th>
        CaseNumber
      </th>
      <th>
        CaseStatus
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coc of cocs" (click)="onSelect(coc)" style="cursor:pointer;">
      <td>
        {{coc.tradingPartnerCode}}
      </td>
      <td>
        {{coc.planCode}}
      </td>
      <td>
        {{coc.cin}}
      </td>
      <td>
        {{coc.cocId}}
      </td>
      <td>
        {{coc.recordType}}
      </td>
      <td>
        {{coc.parentCocId}}
      </td>
      <td>
        {{coc.cocReceivedDate}}
      </td>
      <td>
        {{coc.cocType}}
      </td>
      <td>
        {{coc.benefitType}}
      </td>
      <td>
        {{coc.cocDispositionIndicator}}
      </td>
      <td>
        {{coc.cocExpirationDate}}
      </td>
      <td>
        {{coc.cocDenialReasonIndicator}}
      </td>
      <td>
        {{coc.submittingProviderNpi}}
      </td>
      <td>
        {{coc.cocProviderNpi}}
      </td>
      <td>
        {{coc.providerTaxonomy}}
      </td>
      <td>
        {{coc.merExemptionId}}
      </td>
      <td>
        {{coc.exemptionToEnrollmentDenialCode}}
      </td>
      <td>
        {{coc.exemptionToEnrollmentDenialDate}}
      </td>
      <td>
        {{coc.merCocDispositionIndicator}}
      </td>
      <td>
        {{coc.merCocDispositionDate}}
      </td>
      <td>
        {{coc.reasonMerCocNotMetIndicator}}
      </td>
      <td>
        {{coc.dataSource}}
      </td>
      <td>
        {{coc.caseNumber}}
      </td>
      <td>
        {{coc.caseStatus}}
      </td>
    </tr>
  </tbody>
</table>
