<p>
  <input type="button" value="Create New Appeal" (click)="onCreate()" />
</p>
<table class="table" style="white-space:nowrap;">
  <thead>
    <tr>
      <th>
        Source
      </th>
      <th>
        PlanCode
      </th>
      <th>
        CIN
      </th>
      <th>
        AppealId
      </th>
      <th>
        RecordType
      </th>
      <th>
        ParentGrievanceId
      </th>
      <th>
        ParentAppealId
      </th>
      <th>
        ReceiveDate
      </th>
      <th>
        ActionDate
      </th>
      <th>
        AppealType
      </th>
      <th>
        BenefitType
      </th>
      <th>
        StatusIndicator
      </th>
      <th>
        ResolutionDate
      </th>
      <th>
        OverturnIndicator
      </th>
      <th>
        ExpediteIndicator
      </th>
      <th>
        DataSource
      </th>
      <th>
        CaseNumber
      </th>
      <th>
        CaseStatus
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appeal of appeals" (click)="onSelect(appeal)">
      <td>
        {{appeal.tradingPartnerCode}}
      </td>
      <td>
        {{appeal.planCode}}
      </td>
      <td>
        {{appeal.cin}}
      </td>
      <td>
        {{appeal.appealId}}
      </td>
      <td>
        {{appeal.recordType}}
      </td>
      <td>
        {{appeal.parentGrievanceId}}
      </td>
      <td>
        {{appeal.parentAppealId}}
      </td>
      <td>
        {{appeal.appealReceivedDate}}
      </td>
      <td>
        {{appeal.noticeOfActionDate}}
      </td>
      <td>
        {{appeal.appealType}}
      </td>
      <td>
        {{appeal.benefitType}}
      </td>
      <td>
        {{appeal.appealResolutionStatusIndicator}}
      </td>
      <td>
        {{appeal.appealResolutionDate}}
      </td>
      <td>
        {{appeal.partiallyOverturnIndicator}}
      </td>
      <td>
        {{appeal.expeditedIndicator}}
      </td>
      <td>
        {{appeal.dataSource}}
      </td>
      <td>
        {{appeal.caseNumber}}
      </td>
      <td>
        {{appeal.caseStatus}}
      </td>
    </tr>
  </tbody>
</table>

