<p>
  <input type="button" value="Create New Grievance" (click)="onCreate()" />
</p>
<table class="table" style="white-space:nowrap;">
  <thead>
    <tr>
    <tr>
      <th>
        Source
      </th>
      <th>
        PlanCode
      </th>
      <th>
        CIN
      </th>
      <th>
        GrievanceId
      </th>
      <th>
        RecordType
      </th>
      <th>
        ParentGrievanceId
      </th>
      <th>
        GrievanceReceivedDate
      </th>
      <th>
        GrievanceType
      </th>
      <th>
        BenefitType
      </th>
      <th>
        ExemptIndicator
      </th>
      <th>
        DataSource
      </th>
      <th>
        CaseNumber
      </th>
      <th>
        CaseStatus
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let grievance of grievances" (click)="onSelect(grievance)" style="cursor:pointer;">
      <td>
        {{grievance.tradingPartnerCode}}
      </td>
      <td>
        {{grievance.planCode}}
      </td>
      <td>
        {{grievance.cin}}
      </td>
      <td>
        {{grievance.grievanceId}}
      </td>
      <td>
        {{grievance.recordType}}
      </td>
      <td>
        {{grievance.parentGrievanceId}}
      </td>
      <td>
        {{grievance.grievanceReceivedDate}}
      </td>
      <td>
        {{grievance.grievanceType}}
      </td>
      <td>
        {{grievance.benefitType}}
      </td>
      <td>
        {{grievance.exemptIndicator}}
      </td>
      <td>
        {{grievance.dataSource}}
      </td>
      <td>
        {{grievance.caseNumber}}
      </td>
      <td>
        {{grievance.caseStatus}}
      </td>
    </tr>
  </tbody>
</table>

