<p>
  <input type="button" value="Create New OON" (click)="onCreate()" />
</p>
<table class="table" style="white-space:nowrap;">
  <thead>
    <tr>
    <tr>
      <th>
        Source
      </th>
      <th>
        PlanCode
      </th>
      <th>
        CIN
      </th>
      <th>
        OonId
      </th>
      <th>
        RecordType
      </th>
      <th>
        ParentOonId
      </th>
      <th>
        OonRequestReceivedDate
      </th>
      <th>
        OonRequestResolvedDate
      </th>
      <th>
        PartialApprovalExplanation
      </th>
      <th>
        SpecialistProviderNpi
      </th>
      <th>
        ProviderTaxonomy
      </th>
      <th>
        ServiceLocationAddressLine1
      </th>
      <th>
        ServiceLocationAddressLine2
      </th>
      <th>
        ServiceLocationCity
      </th>
      <th>
        ServiceLocationState
      </th>
      <th>
        ServiceLocationZip
      </th>
      <th>
        ServiceLocationCountry
      </th>
      <th>
        DataSource
      </th>
      <th>
        CaseNumber
      </th>
      <th>
        CaseStatus
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let oon of oons" (click)="onSelect(oon)" style="cursor:pointer;">
      <td>
        {{oon.tradingPartnerCode}}
      </td>
      <td>
        {{oon.planCode}}
      </td>
      <td>
        {{oon.cin}}
      </td>
      <td>
        {{oon.oonId}}
      </td>
      <td>
        {{oon.recordType}}
      </td>
      <td>
        {{oon.parentOonId}}
      </td>
      <td>
        {{oon.oonRequestReceivedDate}}
      </td>
      <td>
        {{oon.oonRequestResolvedDate}}
      </td>
      <td>
        {{oon.partialApprovalExplanation}}
      </td>
      <td>
        {{oon.specialistProviderNpi}}
      </td>
      <td>
        {{oon.providerTaxonomy}}
      </td>
      <td>
        {{oon.serviceLocationAddressLine1}}
      </td>
      <td>
        {{oon.serviceLocationAddressLine2}}
      </td>
      <td>
        {{oon.serviceLocationCity}}
      </td>
      <td>
        {{oon.serviceLocationState}}
      </td>
      <td>
        {{oon.serviceLocationZip}}
      </td>
      <td>
        {{oon.serviceLocationCountry}}
      </td>
      <td>
        {{oon.dataSource}}
      </td>
      <td>
        {{oon.caseNumber}}
      </td>
      <td>
        {{oon.caseStatus}}
      </td>
    </tr>
  </tbody>
</table>
